<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3 mb-4">
  <a class="navbar-brand" routerLink="/">Költségfigyelő</a>

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link" routerLink="categories" routerLinkActive="active">Kategóriák</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="list" routerLinkActive="active">Lista</a>
    </li>
  </ul>

  <span class="navbar-text text-white me-3">
    Bejelentkezve: <strong>{{ username() }}</strong>
  </span>

 

  <button class="btn btn-outline-light btn-sm" (click)="logout()">Kijelentkezés</button>
</nav>
